name: CI/CD Pipeline Complete

on:
  push:
    branches: [ "main" ]
    paths:
      - 'MLProject/**'
  workflow_dispatch:

jobs:
  train-and-deploy:
    runs-on: ubuntu-latest
    
    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.9'

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install mlflow virtualenv
        pip install -r MLProject/requirements.txt

    - name: Run Model Training via MLflow
      env:
        MLFLOW_TRACKING_URI: https://dagshub.com/Muhammad-Rizki-Putra/CustomerChurn.mlflow
        MLFLOW_TRACKING_USERNAME: ${{ secrets.DAGSHUB_USERNAME }}
        MLFLOW_TRACKING_PASSWORD: ${{ secrets.DAGSHUB_TOKEN }}
      run: |
        cd MLProject
        mlflow run . --env-manager=local

    - name: Login to Docker Hub
      uses: docker/login-action@v2
      with:
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}

    - name: Build and Push Docker Image
      uses: docker/build-push-action@v4
      with:
        context: ./MLProject
        push: true
        tags: rizzzki/telco-churn-model:latest