name: CI/CD Pipeline to Docker Hub

on:
  push:
    branches: [ "main" ]
    paths:
      - 'Workflow-CI/**' 
  workflow_dispatch:
jobs:
  build-and-push:
    runs-on: ubuntu-latest
    
    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Login to Docker Hub
      uses: docker/login-action@v2
      with:
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}

    - name: Build and Push Docker Image
      uses: docker/build-push-action@v4
      with:
        context: ./Workflow-CI/MLProject
        push: true
        tags: rizzzki/telco-churn-model:latest